.theme {
}

#bar {
	background-color: gray;
	padding-bottom: 1vh;
	padding-top: 1vh;
	width: 100vw;
}

#logo {	
}

#sub {
	background-color: red;
	padding-left: 75vw;
}

#sub a {
	color: inherit;
	background-color: cyan;
	display: inline-block;
	padding-left: 1.75vw;
	padding-right: 1.75vw;
	text-decoration: solid;
}

#sub a:hover {
	background-color: blue;
}

#splash {

}
